extends ../templates/base.pug

block main
    main
        section.section-404
            .container
                .section-404__inner
                    img(src=require("@img/404.svg"), alt="")
                    .title-3.pb-8 Ошибка 404
                    p Запрашиваемая страница не существует