extends ../templates/base.pug

block main
    main.index-page
        section
            .container
                h2 Hello world
                img(src=require("@img/trevor-buntin-tg1w-gzkzxY-unsplash.jpg"), alt="")